*,
::after,
::before{

    padding: 0;
    margin: 0;

    /*清除ios默认的点击时产生的高亮区块   rgba(0,0,0,0)*/
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color:transparent;
    /*定义盒子模型定义的宽度从边框计算*/
    -webkit-box-sizing: border-box;

}

body{
    font-family: "Microsoft YaHei" , "sans-serif";
    font-size: 14px;
    line-height: 1;
    color: #333;
    overflow: hidden;
    overflow-y: scroll;
    position: relative;
    background: #f5f5f5;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #333;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
A:active {
    text-decoration: none;
}
input,textarea{
    border:0;
    outline: none;
    resize: none;

    /*清楚ios浏览器默认的样式*/
    -webkit-appearance: none;
}

img{
    vertical-align: middle;/*清除3px的bug*/
    border: 0;
}

.clearfix::after,
.clearfix::before{
    clear: both;
    content: '.';
    height: 0;
    line-height: 0;
    visibility: hidden;
    display: block;
}

.row{
  margin-left: 0;
    margin-right: 0;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}