
.index{
    width: 10rem;
    margin:0 auto;
    position: relative;
    background-color: #f2f2f2;
}
.index .head{
    width: 10rem;
    height: 5.34rem;
    padding-top: 1.2rem;
    background: url("../images/mybg.jpg") center no-repeat;
    background-size:10rem 5.34rem;
}
.index .head p{
    width: 10rem;
    text-align: center;
    color: #fa8303;
    font-size: 0.47rem;
}
.index .head img{
    display: block;
    width: 1.71rem;
    height: 1.71rem;
    margin: 0 auto;
}

.index .my-cont{
    margin-top: 0.32rem;
}
.index .my-cont .my-cont1 a{
    display: block;
    width: 10rem;
    height: 1.34rem;
    padding-left: 0.54rem;
    padding-right: 0.54rem;
    line-height: 1.34rem;
    font-size: 0.43rem;
    color: #5a5a5a;
    background-color: #ffffff;
    border-bottom: 0.02rem solid #d9d9d9;
}
.index .my-cont .my-cont1 a .go{
    float: right;
}



.index .my-cont .my-cont2 {
    display: block;
    width: 10rem;
    height: 2.67rem;
    margin-bottom: 0.27rem;
    background-color: #ffffff;
}
.index .my-cont .my-cont2  ul{
    margin-bottom: 0rem;
}
.index .my-cont .my-cont2  ul li{
    float: left;
    width: 2.5rem;
    text-align: center;
}
.index .my-cont .my-cont2  ul li a{
    display:block;
    float: left;
    width: 2.5rem;
    height: 2.67rem;
    text-align: center;
}
.index .my-cont .my-cont2  ul li img{
    display: block;
    margin: 0.67rem auto;
    width: 0.91rem;
    height: 0.78rem;
}
.index .my-cont .my-cont2  ul li p{
    font-size: 0.43rem;
    color: #5a5a5a;
    margin-top: -0.5rem;
}






