.index{
    width: 10rem;
    margin:0 auto;
    position: relative;
}

.index .scenery-moretitle{
    width: 10rem;
    height: 6.67rem;
}
.index .scenery-moretitle .scenery-moreimg{
    width: 10rem;
    height: 6.67rem;
}

.index .carousel-inner .item img{
    height: 6.67rem;
    width: 10rem;
}



/*µØÖ·*/
.index .scenery-address{
    width: 10rem;
    height: 2.67rem;
    color: #5a5a5a;
    font-size: 0.37rem;
    background-color: red/*#f2f2f2*/;
    padding-top: 0.27rem;
  /*  padding-left: 0.56rem;*/
}
.index .scenery-address .scenery-addressx{
    height: 2.13rem;
    color: #5a5a5a;
    background-color: #FFFFFF;
    font-size: 0.37rem;
   /* margin-top: 0.27rem;*/

}
.index .scenery-address .scenery-addressx .scenery-moretop{
    width: 10rem;
    height: 1.2rem;
    line-height: 1.2rem;
    float: left;
    font-size: 0.48rem;
    padding-left: 0.53rem;
}

.index .scenery-address .scenery-addressx .scenery-moretname{
    height: 1.2rem;
    line-height: 1.2rem;
    float: left;
    font-size: 0.48rem;
    left: 0.53rem;
}

.index .scenery-address .scenery-addressx .scenery-moreprice{
    height: 1.2rem;
    line-height: 1.2rem;
    float: right;
    right: 0.45rem;
}
.index .scenery-address .scenery-moreprice .price01{
    font-size: 0.48rem;
    color: #f57d02;
    margin-right: 4px;
}
.index .scenery-address .scenery-moreprice .priceup{
    font-size: 0.27rem;
    color: #FFFFFF;
}

.index .scenery-address .scenery-addressx .address{
    width: 10rem;
    height: 1rem;
    line-height: 0.8rem;
    padding-left: 0.53rem;
    font-size: 0.37rem;
}



/*demo0*/


.index .navbar{
    width: 10rem;
    background-color: #1e9fe1;
    height: 1.07rem;
    color: #ffffff;
    min-height: 0;
    margin-bottom: 0;
    border: 0px solid transparent;
}
.index .navbar .container-fluid {
    width: 10rem;
    height: 1.07rem;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}
.index .navbar .container-fluid .navbar-collapse {
    width: 10rem;
    height: 1.07rem;
    padding-right: 0;
    padding-left: 0;
   display: block;
}

.index .navbar li{
    float: left;
    width: 2.49rem;
    height: 1.07rem;
    margin: 0;
}

.navbar-default .navbar-nav{
    margin: 0;
    padding: 0;

}

.navbar-default .navbar-nav > li > a {
    display: inline-block;
    float: left;
    width: 2.49rem;
    height: 1.07rem;
    padding: 0;
    font-size: 0.35rem;
    line-height: 1.07rem;
    text-align: center;
    color: #ffffff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
     color: #ffffff;
    height: 1.07rem;
    background-color: #1e9fe1;
    border-bottom: 0.08rem solid #f57d02;
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: 0px;
    margin-left: 0px;
}


