<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>吉首旅游-导游列表</title>
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/base.css"/>
    <link rel="stylesheet" href="../css/hotel.css"/>
    <!--[if lt IE 9]>
    <script src="../lib/html5shiv/html5shiv.min.js"></script>
    <script src="../lib/respond/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="index">

    <header class="topBar clearfix">
        <a href="../index.html" class="icon_back"><</a>
        <p class="top-title">导游列表</p>
    </header>


    <!--景区-->
    <div class="scenery clearfix">
        <div class="scenery-top">
            <p class="scenery-title2">默认排序</p>
        </div>

        <div class="scenery-boday">
            <a href="guide-more.html">
                <div class="scenery-bodayl">
                    <img src="../images/guider1.jpg" alt="导游图"/>

                </div>
                <div class="scenery-bodayr">
                    <div class="clearfix scenery-wordx">
                        <p class="scenery-word1">白居易</p>
                    </div>
                    <p class="scenery-word2">带团时间：5年</p>
                    <p class="word4-left"><span class="word4-left1">评分:</span><span class="word4-left2">4.8</span><span class="word4-left3">/5</span></p>

                    <div class="scenery-word4">
                        <p class="word4-right"><span class="scenery-word401">¥168/天</span></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="scenery-boday">
            <a href="guide-more.html">
                <div class="scenery-bodayl">
                    <img src="../images/guider2.jpg" alt="导游图"/>

                </div>
                <div class="scenery-bodayr">
                    <div class="clearfix scenery-wordx">
                        <p class="scenery-word1">李白</p>
                    </div>
                    <p class="scenery-word2">带团时间：5年</p>
                    <p class="word4-left"><span class="word4-left1">评分:</span><span class="word4-left2">4.8</span><span class="word4-left3">/5</span></p>

                    <div class="scenery-word4">
                        <p class="word4-right"><span class="scenery-word401">¥168/天</span></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="scenery-boday">
            <a href="guide-more.html">
                <div class="scenery-bodayl">
                    <img src="../images/guider3.jpg" alt="导游图"/>

                </div>
                <div class="scenery-bodayr">
                    <div class="clearfix scenery-wordx">
                        <p class="scenery-word1">关羽</p>
                    </div>
                    <p class="scenery-word2">带团时间：5年</p>
                    <p class="word4-left"><span class="word4-left1">评分:</span><span class="word4-left2">4.8</span><span class="word4-left3">/5</span></p>

                    <div class="scenery-word4">
                        <p class="word4-right"><span class="scenery-word401">¥168/天</span></p>
                    </div>
                </div>
            </a>
        </div>

    </div>

    <footer class="footer">
        <ul>
            <li><a href="../index.html"><img src="../images/home.jpg" alt="首页"/><p>首页</p></a></li>
            <li><a href="my-order.html"><img src="../images/list-click.jpg" alt="首页"/><p>订单</p></a></li>
            <li><a href="../index.html"><img src="../images/service.jpg" alt="首页"/><p>客服</p></a></li>
            <li><a href="my.html"><img src="../images/my.jpg" alt="首页"/><p>我的</p></a></li>
        </ul>
    </footer>


</div>
<!--头部区域-->
<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/bootstrap/js/bootstrap.js"></script>
<script src="../js/index.js"></script>
</body>
</html>