<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>吉首旅游-导游详情</title>
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/base.css"/>
    <link rel="stylesheet" href="../css/guide-more.css"/>

    <!--[if lt IE 9]>
    <script src="../lib/html5shiv/html5shiv.min.js"></script>
    <script src="../lib/respond/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="index">
    <header class="topBar clearfix">
        <a href="scenery.html" class="icon_back"><</a>
        <p class="top-title">导游详情</p>
    </header>
    <div class="guide-header">
        <img src="../images/guider.png" alt="头像"/>
        <p>林黛玉</p>
    </div>

    <div class="guidernews">
        <div class="guidernewsl">
            <p>带团时间</p>
            <p class="nub">4年</p>
        </div>
        <div class="guidernewsl guidernewsm">
            <p>语言</p>
            <p class="nub">汉语 &nbsp;英语</p>
        </div>
        <div class="guidernewsl">
            <p>好评率</p>
            <p class="nub">88%</p>
        </div>
    </div>


    <div class="guide-price clearfix">
        <p class="guide-price1">费用</p>
        <p class="guide-price2">¥168/天</p>
    </div>

    <nav id="navbar-example" class="navbar navbar-default navbar-static" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse bs-js-navbar-scrollspy">
                <ul class="nav navbar-nav">
                    <li><a href="#menpiao">预约日期</a></li>
                    <li><a href="#yuding">导游简介</a></li>
                    <li><a href="#pinglun">用户评价</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="guide-cont" data-spy="scroll" data-target="#navbar-example" data-offset="0" style="height:12rem;width: 10rem; overflow:auto; position: relative; display: block;">
        <h4 id="menpiao" class="title">预约日期</h4>
        <div class="guide-time clearfix">
            <div class="guide-input">
              <div class="guide-time1">
                  <label for="mydate">开始日期</label>
                  <input type="date" class="input1" id="mydate" placeholder="2017-08-09">
              </div>
              <div class="guide-time1 guide-time2">
                  <label for="mydate1">结束日期</label>
                  <input type="date" class="input1" id="mydate1" placeholder="2017-08-09">
              </div>
            </div>
            <div class="guide-day">共5天</div>
        </div>




        <h4 id="yuding" class="title">导游简介</h4>
        <div class="present" >
            <p>林黛玉，中国古典名著《红楼梦》的女主角，金陵十二钗之首，西方灵河岸绛珠仙草转世真身，荣府四千金贾敏与巡盐御史林如海之独生女，贾母的外孙女，贾宝玉的姑表妹、恋人、知己，贾府通称林姑娘。[1]  她生得倾城倾国容貌，兼有旷世诗才，是世界文学作品中最富灵气的经典女性形象。</p>
            <p>
                两弯似蹙非蹙笼烟眉，一双似喜非喜含情目。态生两靥之愁，娇袭一身之病。泪光点点，娇喘微微。闲静似姣花照水，行动似弱柳扶风。心较比干多一窍，病如西子胜三分。
            </p>
        </div>
        <h4 id="pinglun" class="title">用户评论</h4>
        <div class="pinglun">
            <div class="pingluntitle">
                <div class="pingluntitle1">
                    <img src="../images/people.png" alt="用户头像"/>
                    <span>李白</span>
                </div>
                <div class="pingluntitle2">
                    <span>评价</span>
                    <img src="../images/star5.jpg" alt="星级"/>
                </div>

            </div>
            <p class="pingluncont">矮寨特大悬索桥位于湖南省湘西州吉首市矮寨镇境内，距吉首市区约20公里，是国家重点规划的8条高速公路之一,创造了四项世界第一</p>
            <p class="pingluncon-time">2017-9-28</p>

        </div>
        <div class="pinglun">
            <div class="pingluntitle">
                <div class="pingluntitle1">
                    <img src="../images/people.png" alt="用户头像"/>
                    <span>李白</span>
                </div>
                <div class="pingluntitle2">
                    <span>评价</span>
                    <img src="../images/star5.jpg" alt="星级"/>
                </div>

            </div>
            <p class="pingluncont">非常好吃。甜而不腻，纯野生的。上图</p>
            <div class="pinglunimg">
                <img src="../images/pinglun1.jpg" alt="评论图"/>
                <img src="../images/pinglun2.jpg" alt="评论图"/>
                <img src="../images/pinglun3.jpg" alt="评论图"/>
                <img src="../images/pinglun4.jpg" alt="评论图"/>
            </div>
            <p class="pingluncon-time">2017-9-28</p>
            <p class="pinglun-add">追评：那是非常好吃的。喵喵喵……‥</p>
            <p class="pinglun-addback">卖家回复：好吃您就再来一箱，第二相半价哦！！！</p>

        </div>
        <div class="pinglun">
            <div class="pingluntitle">
                <div class="pingluntitle1">
                    <img src="../images/people.png" alt="用户头像"/>
                    <span>李白</span>
                </div>
                <div class="pingluntitle2">
                    <span>评价</span>
                    <img src="../images/star5.jpg" alt="星级"/>
                </div>

            </div>
            <p class="pingluncont">非常好吃。甜而不腻，纯野生的。上图</p>

            <p class="pingluncon-time">2017-9-28</p>
            <p class="pinglun-add">
                追评：那是非常好吃的。喵喵喵……‥
            <div class="pinglunimg">
                <img src="../images/pinglun1.jpg" alt="评论图"/>
                <img src="../images/pinglun2.jpg" alt="评论图"/>
                <img src="../images/pinglun3.jpg" alt="评论图"/>
                <img src="../images/pinglun4.jpg" alt="评论图"/>
            </div>

            </p>
            <p class="pinglun-addback">卖家回复：好吃您就再来一箱，第二相半价哦！！！</p>

        </div>

    </div>


    <div class="specialty-buy">
        <section class="cd-section">
            <span class="money1">费用：</span>
            <span class="money2">¥168/天</span>
            <a class="cd-bouncy-nav-trigger" href="reserve-guide.html">立即预约</a>
        </section>
    </div>

</div>
<!--头部区域-->
<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/bootstrap/js/bootstrap.js"></script>
<script src="../js/index.js"></script>
<script>
    document.getElementById('mydate').valueAsDate = new Date();
    document.getElementById('mydate1').valueAsDate = new Date();
   /* var mydateInput = document.getElementById("mydate");
    var date = new Date();
    var dateString = date.getFullYear()+"/"+(date.getMonth()+1)+"/"+date.getDate();
    mydateInput.value=dateString;*/
</script>
</body>
</html>