<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>吉首旅游官网</title>
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/base.css"/>
    <!--<link rel="stylesheet" href="../css/scenery-more.css"/>-->
    <link rel="stylesheet" href="../css/my-order.css"/>
    <!--[if lt IE 9]>
    <script src="../lib/html5shiv/html5shiv.min.js"></script>
    <script src="../lib/respond/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="index">
    <header class="topBar clearfix">
        <a href="../index.html" class="icon_back"><</a>
        <p class="top-title">我的订单</p>
    </header>
    <!--<div class="top"></div>-->


    <nav id="navbar-example" class="navbar navbar-default navbar-static" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse bs-js-navbar-scrollspy">
                <ul class="nav navbar-nav">
                    <li><a href="my-order.html">全部</a></li>
                    <li><a href="my-order1.html">待支付</a></li>
                    <li class="active"><a href="my-order2.html">待评价</a></li>
                    <li><a href="my-order3.html">退货/退款</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div data-spy="scroll" data-target="#navbar-example" data-offset="0" style="height:12rem;width: 10rem; overflow:auto; position: relative; display: block;">
        <h4 id="menpiao">全部</h4>
        <div class="pingjia">
            <div class="pingjia-title">
                <img class="hotel-icon" src="../images/hotel.jpg" alt="酒店"/>
                <span>酒店</span>
                <span class="hotel-ping">待评价</span>
            </div>
            <div class="pingjia-cont">
                <div class="pingjia-cont1">
                  <span class="pingjia-cont1l">吉天大酒店</span>
                  <span class="pingjia-cont1r">¥188</span>
                </div>
                <p class="pingjia-cont2">2017-10-1至2017-10-10</p>
                <div class="pingjia-cont3">
                    <span>1晚</span>
                    <span>1间</span>
                    <span>特惠大床房-不含早餐</span>
                </div>
            </div>
            <div class="pingjia-footer">
                <a class="hotel-pingx">去评价</a>
            </div>
        </div>
        <div class="pingjia">
            <div class="pingjia-title">
                <img class="hotel-icon" src="../images/ticket.jpg" alt="门票"/>
                <span>门票</span>
                <span class="hotel-ping">已完成</span>
            </div>
            <div class="pingjia-cont">
                <div class="pingjia-cont1">
                    <span class="pingjia-cont1l">矮寨大桥-日票</span>
                    <span class="pingjia-cont1r">¥188</span>
                </div>
                <p class="pingjia-cont2">2017-10-10可使用</p>

            </div>
            <div class="pingjia-footer">
                <a class="hotel-pingx">去评价</a>
            </div>
        </div>
        <div class="pingjia">
            <div class="pingjia-title">
                <img class="hotel-icon" src="../images/ticket_1.jpg" alt="门票"/>
                <span>门票</span>
                <span class="hotel-ping">订单取消</span>
            </div>
            <div class="pingjia-cont">
                <div class="pingjia-cont1">
                    <span class="pingjia-cont1l">矮寨大桥-日票</span>
                    <span class="pingjia-cont1r">¥188</span>
                </div>
                <p class="pingjia-cont2">2017-10-10可使用</p>

            </div>
            <div class="pingjia-footer">
                <a class="hotel-pingx">去评价</a>
            </div>
        </div>

        <div class="pingjia">
            <div class="pingjia-title">
                <img class="hotel-icon" src="../images/hotel.jpg" alt="酒店"/>
                <span>酒店</span>
                <span class="hotel-ping">待评价</span>
            </div>
            <div class="pingjia-cont">
                <div class="pingjia-cont1">
                    <span class="pingjia-cont1l">吉天大酒店</span>
                    <span class="pingjia-cont1r">¥188</span>
                </div>
                <p class="pingjia-cont2">2017-10-1至2017-10-10</p>
                <div class="pingjia-cont3">
                    <span>1晚</span>
                    <span>1间</span>
                    <span>特惠大床房-不含早餐</span>
                </div>
            </div>
            <div class="pingjia-footer">
                <a class="hotel-pingx hotel-buy">去付款</a>
            </div>
        </div>


        <div class="pingjia">
            <div class="pingjia-title">
                <img class="hotel-icon" src="../images/hotel.jpg" alt="酒店"/>
                <span>酒店</span>
                <span class="hotel-ping">退款已完成</span>
            </div>
            <div class="pingjia-cont">
                <div class="pingjia-cont1">
                    <span class="pingjia-cont1l">吉天大酒店</span>
                    <span class="pingjia-cont1r">¥188</span>
                </div>
                <p class="pingjia-cont2">2017-10-1至2017-10-10</p>
                <div class="pingjia-cont3">
                    <span>1晚</span>
                    <span>1间</span>
                    <span>特惠大床房-不含早餐</span>
                </div>
            </div>
            <div class="pingjia-footer">
                <a class="hotel-pingx">退款详情</a>
            </div>
        </div>

    </div>




</div>
<!--头部区域-->
<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/bootstrap/js/bootstrap.js"></script>
<script src="../js/index.js"></script>
</body>
</html>