<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>吉首旅游官网-个人中心</title>
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/base.css"/>
    <link rel="stylesheet" href="../css/my.css"/>
    <!--[if lt IE 9]>
    <script src="../lib/html5shiv/html5shiv.min.js"></script>
    <script src="../lib/respond/respond.min.js"></script>
    <![endif]-->
</head>
<body class="index">

    <header class="topBar clearfix">
        <a href="../index.html" class="icon_back"><</a>
        <p class="top-title">我的账户</p>
    </header>

    <div class="head">
        <p>welcome</p>
        <img src="../images/touxiang.png" alt="头像"/>
    </div>

    <div class="my-cont">
        <div class="my-cont1">
            <a href="#">
                <span>我的订单</span>
            </a>
        </div>
        <div class="my-cont2">
            <ul>
                <li><a href="my-order.html"><img src="../images/dingdan.jpg" alt="首页"/><p>全部订单</p></a></li>
                <li><a href="my-order1.html"><img src="../images/daizhifu.jpg" alt="首页"/><p>待支付</p></a></li>
                <li><a href="my-order2.html"><img src="../images/daipingjia.jpg" alt="首页"/><p>待评价</p></a></li>
                <li><a href="my-order3.html"><img src="../images/tuihuo.jpg" alt="首页"/><p>退货/退款</p></a></li>
            </ul>

        </div>
        <div class="my-cont1">
            <a href="#">
                <span>个人资料</span>
                <span class="go">> </span>
            </a>
        </div>
        <div class="my-cont1">
            <a href="#">
                <span>地址管理</span>
                <span class="go">> </span>
            </a>
        </div>
        <div class="my-cont1">
            <a href="#">
                <span>关于</span>
                <span class="go">> </span>
            </a>
        </div>
        <div class="my-cont1">
            <a href="#">
                <span>退出登录</span>
            </a>
        </div>
    </div>





<!--头部区域-->
<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/bootstrap/js/bootstrap.js"></script>
<script src="../js/index.js"></script>
</body>
</html>