<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>吉首旅游官网</title>
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/base.css"/>
    <!--<link rel="stylesheet" href="../css/scenery-more.css"/>-->
    <link rel="stylesheet" href="../css/my-order.css"/>
    <!--[if lt IE 9]>
    <script src="../lib/html5shiv/html5shiv.min.js"></script>
    <script src="../lib/respond/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="index">
    <header class="topBar clearfix">
        <a href="../index.html" class="icon_back"><</a>
        <p class="top-title">全部订单</p>
    </header>
    <!--<div class="top"></div>-->


    <nav id="navbar-example" class="navbar navbar-default navbar-static" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse bs-js-navbar-scrollspy">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="my-order.html">全部</a></li>
                    <li><a href="my-order1.html">待支付</a></li>
                    <li><a href="my-order2.html">待评价</a></li>
                    <li><a href="my-order3.html">退货/退款</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <img src="../images/order-no.png" alt=""/>




</div>
<!--头部区域-->
<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/bootstrap/js/bootstrap.js"></script>
<script src="../js/index.js"></script>
</body>
</html>