<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
	<title>吉首旅游-注册</title>
	<link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="../css/base.css"/>
	<link rel="stylesheet" href="../css/login.css"/>
	<!--[if lt IE 9]>
	<script src="../lib/html5shiv/html5shiv.min.js"></script>
	<script src="../lib/respond/respond.min.js"></script>
	<![endif]-->
</head>
<body class="index">

<h2 class="login">注册</h2>

<form action="">
	<div id="myTabContent" class="tab-content">

			<div class="login-user">
				<label for="firstin"><img src="../images/user.png" alt="用户名"/></label>
				<input type="text" class="input1" id="firstin" placeholder="用户名">
			</div>
		   <div class="login-user">
		   	    <label for="firstin3"><img src="../images/phine.png" alt="手机号"/></label>
		   	    <input type="text" class="input1" id="firstin3" placeholder="手机号">
		   </div>
			<div class="login-user">
				<label for="firstin2"><img src="../images/password.png" alt="密码"/></label>
				<input type="text" class="input1" id="firstin2" placeholder="密码">
			</div>
		   <div class="login-user">
		   	   <label for="firstins"><img src="../images/password.png" alt="密码"/></label>
		   	   <input type="text" class="input1" id="firstins" placeholder="确认密码">
		   </div>

			<div class="login-user">
				<label for="firstin4"><img src="../images/sec.png" alt="验证码"/></label>
				<input type="text" class="paswordin" id="firstin4" placeholder="验证码">
				<input type="button" class="passagain" id="btn" value="发送验证码" />
				<!--<button class="pass">发送验证码</button>-->
			</div>
			<!--发送验证码后-->
			<!--  <div class="login-user">
                    <label for="firstin4x"><img src="../images/sec.png" alt="密码"/></label>
                    <input type="text" class="paswordin" id="firstin4x" placeholder="动态密码">
                    <input type="button" class="passagain" id="btn" value="发送验证码" />
                  &lt;!&ndash;  <span class="passagain">60秒后重新发送</span>&ndash;&gt;
                </div>-->

	</div>

	<div class="backp">
		已有账号，请
		<a class="logingo" href="#">登录</a>
	</div>
	<button type="submit" class="btn">注册</button>


</form>
</body>
<!--头部区域-->
<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/bootstrap/js/bootstrap.js"></script>
<script src="../js/index.js"></script>

<script type="text/javascript">

	var countdown=60;
	$("#btn").click(function(){
		var obj = $("#btn");
		settime(obj);
	})

	function settime(obj) { //发送验证码倒计时

		if (countdown == 0) {
			obj.attr('disabled',false);
			//obj.removeattr("disabled");
			obj.val("发送验证码");
			countdown = 60;
			return;
		} else {
			obj.attr('disabled',true);
			obj.val("(" + countdown + ")秒后重新发送");
			countdown--;
		}
		setTimeout(function() {
					settime(obj) }
				,1000)
	}
</script>


</html>