<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>吉首旅游支付失败</title>
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/base.css"/>
    <link rel="stylesheet" href="../css/reserve-success.css"/>
    <!--[if lt IE 9]>
    <script src="../lib/html5shiv/html5shiv.min.js"></script>
    <script src="../lib/respond/respond.min.js"></script>
    <![endif]-->
</head>
<body class="index">
<header class="topBar clearfix">
    <a href="guide-more.html" class="icon_back"><</a>
    <p class="top-title">支付失败</p>
</header>
<div class="success clearfix">
    <p class="successl successlfail">
        <span class="glyphicon glyphicon-remove"></span>
        <span>支付失败</span>
    </p>
    <p class="successr">
        ¥600
    </p>
</div>

<div class="success-back  clearfix">
    <a class="success-backl" href="../index.html">返回首页</a>
    <a class="success-backr" href="reserve-specialty.html">重新购买</a>
</div>



<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/bootstrap/js/bootstrap.js"></script>
<script src="../js/index.js"></script>

</body>
</html>