<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>吉首旅游官网</title>
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/base.css"/>
    <link rel="stylesheet" href="../css/scenery-more.css"/>
    <!--[if lt IE 9]>
    <script src="../lib/html5shiv/html5shiv.min.js"></script>
    <script src="../lib/respond/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="index">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="../images/jqbanner1.jpg" alt="banner">
                <div class="carousel-caption">
                    乾州古城
                </div>
            </div>
            <div class="item">
                <img src="../images/jqbanner2.jpg" alt="轮播图">
                <div class="carousel-caption">
                    矮寨大桥
                </div>
            </div>
            <div class="item">
                <img src="../images/jqbanner3.jpg" alt="轮播图">
                <div class="carousel-caption">
                    苗寨
                </div>
            </div>
            <div class="item">
                <img src="../images/jqbanner4.jpg" alt="轮播图">
                <div class="carousel-caption">
                    苗寨
                </div>
            </div>

        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!--<div class="scenery-moretitle">
    <img class="scenery-moreimg" src="../images/jingqu.jpg" alt="景区图"/>
    </div>-->
    <div class="scenery-address">
        <div class="scenery-addressx clearfix">
            <div class="scenery-moretop clearfix">
              <p class="scenery-moretname clearfix">矮寨大桥</p>
              <div class="scenery-moreprice clearfix"><span class="price01">¥168</span><span class="priceup">起</span></div>
            </div>
           <p class="address">地址：湖南省湘西自治州首府吉首市区内的万溶江河畔</p>
        </div>
    </div>

   <!-- <ul class="navbar">
        <li><a href="#box1">景区门票</a></li>
        <li><a href="#box2">预定须知</a></li>
        <li><a href="#box3">景区详情</a></li>
        <li><a href="#box4">用户评论</a></li>
    </ul>

    <div class="box1" id="box1"></div>
    <div class="box2" id="box2"></div>
    <div class="box3" id="box3"></div>
    <div class="box4" id="box4"></div>
-->

    <nav id="navbar-example" class="navbar navbar-default navbar-static" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse bs-js-navbar-scrollspy">
             <ul class="nav navbar-nav">
                 <li><a href="#menpiao">景区门票</a></li>
                 <li><a href="#yuding">预定须知</a></li>
                 <li><a href="#xiangqing">景区详情</a></li>
                 <li><a href="#pinglun">用户评论</a></li>
             </ul>
       </div>
</div>
</nav>
<div data-spy="scroll" data-target="#navbar-example" data-offset="0" style="height:12rem;width: 10rem; overflow:auto; position: relative; display: block;">
    <h4 id="menpiao"></h4>
    <div class="menpiaobox">
        <div class="menpiaoboxl">
            <div class="piaolei">
                <span class="piaolei1">成人票</span>
                <span class="piaolei2">（矮寨大桥成人票）</span>
                <span class="piaolei3">日票</span>
            </div>
            <p class="piao-money">
                ¥180
            </p>
            <p class="piao-oldmoney">
                <span class="oldmoney1">市场价：</span>
                <span class="oldmoney2">¥288</span>
            </p>

        </div>
        <div class="menpiaoboxr">
            <a href="#">预订</a>
        </div>
    </div>
    <div class="menpiaobox">
        <div class="menpiaoboxl">
            <div class="piaolei">
                <span class="piaolei1">成人票</span>
                <span class="piaolei2">（矮寨大桥成人票）</span>
                <span class="piaolei3">日票</span>
            </div>
            <p class="piao-money">
                ¥180
            </p>
            <p class="piao-oldmoney">
                <span class="oldmoney1">市场价：</span>
                <span class="oldmoney2">¥288</span>
            </p>

        </div>
        <div class="menpiaoboxr">
            <a href="#">预订</a>
        </div>
    </div>
    <div class="menpiaobox">
        <div class="menpiaoboxl">
            <div class="piaolei">
                <span class="piaolei1">成人票</span>
                <span class="piaolei2">（矮寨大桥成人票）</span>
                <span class="piaolei3">日票</span>
            </div>
            <p class="piao-money">
                ¥180
            </p>
            <p class="piao-oldmoney">
                <span class="oldmoney1">市场价：</span>
                <span class="oldmoney2">¥288</span>
            </p>

        </div>
        <div class="menpiaoboxr">
            <a href="#">预订</a>
        </div>
    </div>
    <div class="menpiaobox">
        <div class="menpiaoboxl">
            <div class="piaolei">
                <span class="piaolei1">成人票</span>
                <span class="piaolei2">（矮寨大桥成人票）</span>
                <span class="piaolei3">日票</span>
            </div>
            <p class="piao-money">
                ¥180
            </p>
            <p class="piao-oldmoney">
                <span class="oldmoney1">市场价：</span>
                <span class="oldmoney2">¥288</span>
            </p>

        </div>
        <div class="menpiaoboxr">
            <a href="#">预订</a>
        </div>
    </div>


    <h4 id="yuding" class="title">预定须知</h4>
    <div class="yuzhimore" >
        <p>优待政策</p>
        <p>免费人群：身高1.2米（不含）以下儿童、70（含）岁以上老人、本地军官持本人有效证件免票。</p>
        <p>优惠人群：全日制在校大中小学生（凭学生证）、65-70岁老人（持本人有效证件）可至景区购买优惠票。</p>
        <p>以上信息仅供参考，具体信息请以湘西矮寨大桥景区当天披露为准。</p>
    </div>
    <h4 id="xiangqing" class="title">景区详情</h4>
    <div class="yuzhimore" >
        <p>矮寨大桥</p>
        <p>矮寨特大悬索桥位于湖南省湘西州吉首市矮寨镇境内，距吉首市区约20公里，是国家重点规划的8条高速公路之一——长沙至重庆通道湖南段吉（首）茶（峒）高速公路中的重点工程。工程为双层公路、观光通道两用桥梁，四车道高速公路特大桥。桥型方案为钢桁加劲梁单跨悬索桥，全长1073.65m，悬索桥的主跨为1176m，创造了四项世界第一，极大地改善湘渝两省市的交通现状，对两省市乃至中西部的对接具有极其重要的意义。</p>
    </div>
    <h4 id="pinglun" class="title">用户评论</h4>
    <div class="pinglun">
        <div class="pingluntitle">
            <div class="pingluntitle1">
                <img src="../images/people.png" alt="用户头像"/>
                <span>李白</span>
            </div>
            <div class="pingluntitle2">
                <span>评价</span>
                <img src="../images/star5.jpg" alt="星级"/>
            </div>

        </div>
        <p class="pingluncont">矮寨特大悬索桥位于湖南省湘西州吉首市矮寨镇境内，距吉首市区约20公里，是国家重点规划的8条高速公路之一,创造了四项世界第一</p>
<p class="pingluncont">2017-9-28</p>




    </div>
    <div class="pinglun">
        <div class="pingluntitle">
            <div class="pingluntitle1">
                <img src="../images/people.png" alt="用户头像"/>
                <span>李白</span>
            </div>
            <div class="pingluntitle2">
                <span>评价</span>
                <img src="../images/star5.jpg" alt="星级"/>
            </div>

        </div>
        <p class="pingluncont">矮寨特大悬索桥位于湖南省湘西州吉首市矮寨镇境内，距吉首市区约20公里，是国家重点规划的8条高速公路之一,创造了四项世界第一</p>
        <div class="pinglunimg">
            <img src="../images/pingjia1.jpg" alt="评论图"/>
            <img src="../images/pingjia1.jpg" alt="评论图"/>
        </div>
        
        <p class="pingluncont">2017-9-28</p>




    </div>

</div>
   <!-- <script>
        $(function(){
            removeSection = function(e) {
                $(e).parents(".section").remove();
                $('[data-spy="scroll"]').each(function () {
                    var $spy = $(this).scrollspy('refresh')
                });
            }
            $("#myScrollspy").scrollspy();
        });
    </script>-->
​




</div>
<!--头部区域-->
<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/bootstrap/js/bootstrap.js"></script>
<script src="../js/index.js"></script>
<script>
    $(function () {
        /* 滚动监听 */
        // 定义一个获取所有div的距离高度
        var arrOffsetTop = [
            $('.men-li01').offset().top,
            $('.men-li02').offset().top,
            $('.men-li03').offset().top,
            $('.men-li04').offset().top,
            $('.men-li05').offset().top,
            $('.men-li06').offset().top,
        ];
        // 获取每个div的平均高度
        var fTotalHgt = 0;
        for(var i=0; i<$('.men').length; i++) {
            fTotalHgt += $('.men').eq(i).outerHeight();
        }
        var fAverageHgt = parseFloat(fTotalHgt / $('.men').length);

        // 滚动事件(每次滚动都做一次循环判断)
        $(window).scroll(function() {
            for(var i=0; i<$('.men').length; i++) {
                if($(this).scrollTop() > arrOffsetTop[i] - fAverageHgt) {  // 减去一个固定值，是定位准确点
                    $('.menpiao-nav').eq(i).addClass('active').siblings().removeClass('active');
                }
            }
        });

        $(function () {
            var H = 490;
            $(window).scroll(function () {
                var docSccrollTop = $(document).scrollTop();
                if(docSccrollTop > H){
                    $("#menpiao-top").css({"position":"fixed","top":0});
                    // 此时 nav的位置固定，如果不设置 main部分的margin-top的话，将有一部分内容被挡住 nav的高度+开始设置的20
                    $(".men").css("margin-top",60);
                }else{
                    $("#menpiao-top").css({"position":"static"});  /*静态定位*/
                    $(".men").css("margin-top",30);
                }
            });
        });

        /* 点击事件 */
        $('.menpiao-nav').click(function() {
            $(this).addClass('active').siblings().removeClass('active');
            $('body, html').animate({scrollTop: arrOffsetTop[$(this).index()]}, 500);
        });
    });

</script>
</body>
</html>