<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>吉首旅游官网-特产</title>
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/base.css"/>
    <link rel="stylesheet" href="../css/scenery.css"/>
    <!--[if lt IE 9]>
    <script src="../lib/html5shiv/html5shiv.min.js"></script>
    <script src="../lib/respond/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="index">
    <header class="topBar clearfix">
        <a href="../index.html" class="icon_back"><</a>
        <p class="top-title">特产列表</p>
    </header>


    <!--景区-->
    <div class="scenery clearfix">
        <div class="scenery-top">
            <p class="scenery-title2">默认排序</p>
        </div>
        <div class="scenery-boday">
            <a href="specialty-more.html">
            <div class="scenery-bodayl">
                <img src="../images/techan1.jpg" alt="特产图"/>

            </div>
                <div class="scenery-bodayr">
                    <p class="scenery-word1">吉首猕猴桃</p>
                    <div class="specialty clearfix">
                    <p class="specialtyl"><span class="specialtyl1">评价：</span><span class="specialtyl2">21</span></p>
                    <p class="specialtyr">已售：688</p>
                    </div>

                    <p class="scenery-word4"><span class="scenery-word401">¥168</span><span class="scenery-word402">起</span></p>
                 </div>
            </a>
        </div>
        <div class="scenery-boday">
            <a href="specialty-more.html">
                <div class="scenery-bodayl">
                    <img src="../images/techan2.jpg" alt="特产图"/>

                </div>
                <div class="scenery-bodayr">
                    <p class="scenery-word1">湘西黄金茶</p>
                    <div class="specialty clearfix">
                        <p class="specialtyl"><span class="specialtyl1">评价：</span><span class="specialtyl2">21</span></p>
                        <p class="specialtyr">已售：688</p>
                    </div>

                    <p class="scenery-word4"><span class="scenery-word401">¥168</span><span class="scenery-word402">起</span></p>
                </div>
            </a>
        </div>
        <div class="scenery-boday">
            <a href="specialty-more.html">
                <div class="scenery-bodayl">
                    <img src="../images/techan3.jpg" alt="特产图"/>

                </div>
                <div class="scenery-bodayr">
                    <p class="scenery-word1">吉首猕猴桃</p>
                    <div class="specialty clearfix">
                        <p class="specialtyl"><span class="specialtyl1">评价：</span><span class="specialtyl2">21</span></p>
                        <p class="specialtyr">已售：688</p>
                    </div>

                    <p class="scenery-word4"><span class="scenery-word401">¥168</span><span class="scenery-word402">起</span></p>
                </div>
            </a>
        </div>

    </div>


</div>
<!--头部区域-->
<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/bootstrap/js/bootstrap.js"></script>
<script src="../js/index.js"></script>
</body>
</html>